/**
  * This css has been built for the Renaissance version.
  * All other versions can use their own custom.css to override these values.
  */

.psp-header
{
	vertical-align: top;
	height: 65px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #000000;
	background-color: #ffffff;
}

.psp-header-title
{
	position: relative;
	text-align: center;
	border: 1px;
	vertical-align: top;
	width: 680px;
	height: 65px;
	margin: 0px auto;
	padding: 0px;
	border: 0px;
	background-repeat: no-repeat;
	background-image: url(ren/images/Ren_Logo.gif);
}

.psp-footer
{
	position: relative;
	text-align: left;
	border: 1px;
	vertical-align: top;
	width: 680px;
	height: 65px;
	margin: 0px auto;
	padding: 20px 30px 30px 30px;
	border: 0px;

	background-image:url('../resources/images/footerBg.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	
	color: #8e8e88;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.psp-footer a, a:visited
{
	color: #3d3d2f;
	text-decoration: none;
}

.psp-footer p
{
	margin-bottom: 5px;
}

.psp-footer #footerLinks
{
	font-weight: bold;
}

.greenbox
{
	border: solid 1px #888888;
	border-radius: 20px;	
	background-color: #dbe8c6;
	text-align: left;
	
	position: relative;
	top: 20px;
	margin-bottom: 30px;
	
	width: 680px;
	padding-bottom: 20px;
}

.mainHeaderToothbrush
{
	height: 120px;

	background-image:url('../resources/images/toothbrush.png');
	background-repeat: no-repeat;
	background-position: top right;
}

.mainHeaderToothbrush .icon
{
	margin-top: -20px
}

.mainHeaderToothbrush .title
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:#0b5085;
	text-transform: uppercase;
	
	position: absolute;
	left: 100px;
	top: 30px;
}

.informationSection
{
	color: #FF0000;
}

.informationSection .separator
{
	border: 0;
	color: #cccccc;
	background-color: #cccccc;
	height: 1px;
	width: 100%;
	text-align: left;
}

.informationSection p
{
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0;
	text-align: left;
	
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.informationSection #informationSectionTable
{
	width: 100%;
}

.informationSection th
{
	text-align: right;
	vertical-align: top;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #888888;	
}

.informationSection td
{
	vertical-align: top;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.informationSection h1
{
	padding-left: 10px;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#0b5085;
	text-transform: uppercase;
}

#premiumInfoSection #paythisAmt
{
	position: absolute;
	top: 48px;
	left: 350px;
	
	-moz-box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	-webkit-box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	background-color: #dc6e18;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #DB9925;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding: 4px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #DB9925;
	text-align: center;
}
#premiumInfoSection #paythisAmt:hover
{
	background-color: #dc6e18;
}

#premiumInfoSection #amountOwedLabel
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

#premiumInfoSection #amountOwed
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

#premiumInfoBox
{
	position: relative;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #f9f9f7;
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 13px 20px;
	width: 432px;
	color: #464640;
}

.errorSection
{
	position: relative;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #f9f9f7;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 432px;
	color: #BF3232;
	padding: 5px;
	overflow: hidden;
	
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.ccPaymentSection
{
	position: relative;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #f9f9f7;
	border: 1px solid #fff;
	margin: 0 auto;
	padding: 13px 20px;
	width: 432px;
	height: 370px;
	color: #464640;
}

.ccPaymentSection #mainHeading
{
	position: absolute;
	top: 0px;
	left: 10px;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #0b5085;
	text-transform: uppercase;
}

.ccPaymentSection h3
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#050505;
}

.ccPaymentSection input
{
	background-color: #fff;
	border: 1px solid #AAAAAA;
	color: #333;
	display: block;
	font-size: 18px;
	padding: 0 5px;
	border-radius: 5px;
}

.ccPaymentSection #cardNumberLabel
{
	position: absolute;
	top: 10px;
	left: 21px;
}

.ccPaymentSection .paymentForm-cardNumber
{
	position: absolute;
	top: 45px;
	left: 20px;
	height: 36px;
	width: 225px;
}

.ccPaymentSection .cardIcon
{
	visibility: hidden;
	position: absolute;
	top: 48px;
	left: 203px;
}

.ccPaymentSection #expiryDateLabel
{
	position: absolute;
	top: 10px;
	left: 281px;
}

.styled-select
{
	overflow: hidden;
	background: url(../resources/images/downArrow.png) no-repeat right #fff;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
}

.styled-select select
{
	background: transparent;
	font-size: 18px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	color: #333;
}

.ccPaymentSection #expiryMonthDiv
{
	position: absolute;
	top: 45px;
	left: 280px;
	width: 60px;
	height: 36px;
}

.ccPaymentSection .paymentForm-expiryMonth
{
	background: transparent;
	width: 82px;
	height: 36px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.ccPaymentSection #expiryYearDiv
{
	position: absolute;
	top: 45px;
	left: 364px;
	width: 86px;
	height: 36px;
}

.ccPaymentSection .paymentForm-expiryYear
{
	background: transparent;
	width: 108px;
	height: 36px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.ccPaymentSection #nameOnCardLabel
{
	position: absolute;
	top: 80px;
	left: 21px;
}

.ccPaymentSection .paymentForm-nameOnCard
{
	position: absolute;
	top: 115px;
	left: 20px;
	height: 36px;
	width: 225px;
}

#recurringSection
{
	position: absolute;
	top: 160px;
	left: 20px;
	padding-top: 5px;
	padding-left: 15px;
	width: 421px;
}

.ccPaymentSection .paymentForm-recurringCheckbox
{
	position: absolute;
	display: block;
	top: 5px;
	left: 0px;
	width: 15px;
	height: 15px;
	padding: 0;
	
	background-color: #fff;
	border: 1px solid #AAAAAA;
	color: #333;
	font-size: 18px;
	border-radius: 5px;
}

#recurringSection p
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
}

#legalText
{
	position: absolute;
	top: 235px;
	left: 20px;
	height: 136px;
	width: 421px;

	background-color: #fff;
	border: 1px solid #AAAAAA;
	color: #333;
	display: block;
	padding: 0 5px;
	border-radius: 5px;
	
	overflow: auto;
}

#legalText p
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	
	padding: 0px;
	margin: 0;
	text-align: left;
}

#legalText h3
{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 0px;
	color: #333;
}

.ccPaymentSection .payButtonStyle
{
	position: absolute;
	top: 115px;
	left: 358px;
	
	-moz-box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	-webkit-box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	box-shadow:inset 0px 1px 3px 0px #F5BE5F;
	background-color:#dc6e18;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #DB9925;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding: 9px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #DB9925;
	text-align: center;
}
.ccPaymentSection .payButtonStyle:hover
{
	background-color: #dc6e18;
}
.ccPaymentSection #payButtonDisabled
{
	display: none;
	color: #BBBBBB;
}

.receiptSection
{
	position: relative;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	width: 480px;
	height: 495px;
	color: #464640;
	
	overflow: hidden;
	
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}

.receiptSection .rightAlignedTd
{
	text-align: right;
}

.receiptSection #paymentInfoBoxHeading
{
	text-align: center;
}

.receiptSection table
{
	width: 100%;
}

.receiptSection th
{
	text-align: left;
	
	font-weight: normal;
}

.receiptSection #paymentInfoBox h3
{
	text-align: center;
	top: 80px;
	left: 10px;
	
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.receiptSection #cardNumberAuthcodeBox
{
	padding-top: 30px;
}

.receiptSection #cardNumberTd
{
	text-align: right;
	vertical-align: bottom;
	width: 120px;
}

#printReceipt
{
	text-align: right;
}
#printReceipt a, a:visited, img
{
	font-size: 13px;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	border-style: none;
}
